<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2>Edit your listing</h2>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
       
        <div class="mb-3">
            Original Listing Image: <br>
            <img src="<%= originalImageUrl %> " style="height: 300px; width: 400px;">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload new Image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
          
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter valid price</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter valid country name</div>
        </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter valid location</div>
        </div>
       <br><br>
        <button class="btn btn-dark editbtn mb-5">Edit</button>
    </form>
        </div>
    </div>
    <script src="js/script.js"></script>
